<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Of the Flight of the Noldor</h1>
   <p>Melkor, being released from bondage, came among the Noldor of Tirion upon Tuna. In his undead malice, he devised new torments of subtelty for the Children of Illuvatar.He sought to accomplish three things:</p>
   <ol>
       <li>Sow distrust amongst the Noldor</li>
       <li>Foment dreams of kingdoms owned</li>
       <li>Undo all work of old by the Valar</li>
   </ol>
</body>
</html>